
.bg-fish { 
	background-image: url(../img/bg-fish.png);
	background-size: cover;
	background-position: center center;
 }

.bg-lime { background-color: $lime; color: white; }
.bg-forest { background-color: $forest; color: white; }
.bg-grey-light { background-color: $grey-light; color: white; }
.bg-grey { background-color: $grey; color: white; }
.bg-grey-dark { background-color: $grey-dark; color: white; }

.text-lime { color: $lime; }
.text-forest { color: $forest; }
.text-grey-light { color: $grey-light; }
.text-grey { color: $grey; }
.text-grey-dark { color: darken( $grey, 30% ); }

