

$red: #bc3033;
$yellow: #ffaa00;


.emergency-bar-container {
	background: $grey-light;
	padding: 10px 10px 7px 10px;
	color: $grey-dark;
	@include clearfix;
	display: none;
	position: relative;
	z-index: 200;
	border-bottom: 1px solid $grey;
	text-align: center;
	@include font-bold;

	a {
		color: $grey;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	&.show {
		display: block;
	}

	.fa-close {
		float: right;
		margin: 0 0 3px 20px;
		cursor: hand;
	}

	&.red {
		background: lighten( $red, 40% );
		color: $red;
		border-bottom: 1px solid $red;

		a {
			color: $red;
		}
	}

	&.yellow {
		background: lighten( $yellow, 40% );
		color: darken( $yellow, 20% );
		border-bottom: 1px solid $yellow;


		a {
			color: darken( $yellow, 20% );
		}
	}

	&.lime {
		background: lighten( $lime, 40% );
		color: darken( $lime, 10% );
		border-bottom: 1px solid $lime;

		a {
			color: darken( $lime, 10% );
		}
	}

	&.forest {
		background: lighten( $forest, 40% );
		color: $forest;
		border-bottom: 1px solid $forest;

		a {
			color: $forest;
		}
	}

}

