
// include our fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic);


@font-face {
	font-family: 'Museo Slab 100';
	src: url('#{$font_path}museo-slab-100.eot');
	src: local('☺'), url('#{$font_path}museo-slab-100.woff') format('woff'), url('#{$font_path}museo-slab-100.ttf') format('truetype'), url('#{$font_path}museo-slab-100.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Museo Slab 500';
	src: url('#{$font_path}museo-slab-500.eot');
	src: local('☺'), url('#{$font_path}museo-slab-500.woff') format('woff'), url('#{$font_path}museo-slab-500.ttf') format('truetype'), url('#{$font_path}museo-slab-500.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'Museo Slab 700';
  src: url('#{$font_path}museo-slab-700.eot?#iefix') format('embedded-opentype'),  url('#{$font_path}museo-slab-700.woff') format('woff'), url('#{$font_path}museo-slab-700.ttf')  format('truetype'), url('#{$font_path}museo-slab-700.svg#MuseoSlab-700') format('svg');
  font-weight: normal;
  font-style: normal;
}



// sans-serif mixin
@mixin font-title {
    font-family: "Museo Slab 500", sans-serif;
    font-weight: normal;
}


// sans-serif mixin
@mixin font-title-light {
    font-family: "Museo Slab 100", sans-serif;
    font-weight: normal;
}


// sans-serif mixin
@mixin font {
	font-family: "Museo Slab 100", sans-serif;
	font-weight: 400;
}


// bold face
@mixin font-bold {
	font-family: "Museo Slab 700", sans-serif;
}
