

header {
	text-align: center;
	position: relative;

	@include respond-to( 400px ) {
		.wrap {
			display: flex;
			align-items: center;
		}
	}

	.logo {
		padding: 10px 20px;

		@include respond-to( 400px ) {
			flex: 1;	
		}

		@include respond-to( 940px ) {
			flex: 1;
		}
	}

	.header-buttons {
		@include respond-to( 400px ) {
			flex: 1;
			display: flex;
			flex-flow: column;

			a {
				flex: 1;
				display: flex;

				.button-space {
					flex: 1;
					justify-content: center;	
				}
			}
		}

		@include respond-to( 940px ) {
			flex: 1 1 570px;
			flex-flow: row nowrap;
			align-items: center;
			padding: 0 30px;

			a {
				display: block;
				margin-left: 10px;
			}
		}

		a {
			display: block;
			padding: 10px 20px;
			display: block;
			transition: 400ms opacity ease-in-out;
			text-align: center;
			text-decoration: none;
			font-size: 16px;

			&:hover {
				opacity: .8;
				text-decoration: none;
			}

			p {
				padding: 0;

				&.caps {
					text-transform: uppercase;
				}
			}
		}

		.banking {
			background: $forest;
			color: white;
		}

		.feedback {
			background: $lime;
			color: $forest;
		}

		.join {
			background: $navy;
			color: white;
		}
	}

	nav {
		background: $lime;
		@include clearfix;
		position: relative;

		button {
			display: none;
			/*
			position: absolute;
			right: 10px;
			top: -50px;
			width: 40px;
			height: 40px;
			border: 0;
			padding: 0;
			background: white;
			color: black;
			background: url(../img/icon-menu.png) center center no-repeat;

			@include respond-to( 600px ) {

			}
			*/
		}

		ul.nav-menu {
			background: $forest;
			position: relative;

			@include respond-to( 600px ) {
				float: right;
				height: 60px;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: -43px;
					bottom: 0;
					width: 43px;
					background: url(../img/menu-stripe.png) center center no-repeat;
				}
			}
			
			li {
				@include respond-to( 600px ) {				
					display: inline-block;
					position: relative;
				}

				a {
					@include font-title;
					display: block;
					padding: 10px 5px;
					font-size: 20px;
					line-height: 20px;
					color: white;
					text-align: center;
					text-decoration: none;
					width: 100%;
					transition: 300ms background-color ease-in-out;

					@include respond-to( 600px ) {
						display: inline-block;
						width: auto;
						padding: 20px 10px;
					}

					@include respond-to( 1024px ) {
						padding: 20px;
					}
				}

				&:hover, &:focus, &.open {
					a {
						background-color: lighten( $forest, 5% );
					}

					ul.sub-menu {
						display: block;
					}
				}

				ul.sub-menu {
					display: none;
					margin-bottom: 3px;

					@include respond-to( 600px ) {
						position: absolute;
						right: 0;
						top: 60px;
						width: 200px;
						z-index: 2000;
						background: lighten( $forest, 5% );
						@include clearfix;
					}

					li {
						display: block;
						width: 100%;

						a {
							padding: 7px 10px;
							font-size: 15px;
							line-height: 18px;
							display: block;

							@include respond-to( 600px ) {
								padding: 10px;

								&:hover {
									background: lighten( $forest, 10% );
								}
							}

							@include respond-to( 1220px ) {
								padding: 15px 10px;
							}
						}
					}
				}
			}
		}
	}

	.skip-content {
		position: absolute;
		right: 50%;
		top: -100px;
		color: white;
	}
}

