

.home-pad {
	a {
		&:hover {
			text-decoration: none;
		}

		h5 {
			color: $forest;
			text-transform: uppercase;
		}
	}

	@include respond-to( 768px ) {
		padding: 40px 20px;
	}

	.quarter {
		padding: 0;
	}

	.fifth {
		padding: 0 10px;
	}
}

